.row-grid{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 50px;
  justify-content: space-between;
  overflow: hidden;  
}
.col-grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: hidden;  
}
.card{
  margin-bottom: 50px;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  border: 5px solid black;
  justify-content: center;
}


/* ROW & COLUMN*/
.card img{
  width: 100%;
  height: 100%;
}
.card h2{
  text-align: center;
}

